<div id="fh5co-product-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center animate-box">
        <div class="heading-section">
          <h2>* Destacados *</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <app-book *ngFor="let book of books" [book] = "book"></app-book>
    </div>
    <div class="row">
      <p class="text-center view-button animate-box">
        <a href="#" class="btn btn-primary btn-outline btn-lg">Ver todos los titulos</a>
      </p>
    </div>
  </div>
</div>
