<div class="fh5co-counters" style="background-image: url(assets/images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
    <div class="fh5co-narrow-content animate-box">
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Website</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Branding</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="7497" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Product</span>
            </div>
        </div>
    </div>
</div>