<header>
    <div class="container">
        <div class="fh5co-navbar-brand">
            <h1 class="text-center"><a class="fh5co-logo" href="index.html">* Books *</a></h1>
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        </div>
    </div>
    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url(assets/images/slide_1.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>Create A Motivational Template</h2>
                                <span>Branding</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(assets/images/slide_2.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>Start Practicing Your Course</h2>
                                <span>Website</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(assets/images/slide_3.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>Start Practicing Your Course</h2>
                                <span>Products</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</header>